<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role=document>
    <div class="modal-content">
      {% comment %} <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">Modal title</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> {% endcomment %}
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            width="100%"
            height="500"
            src=""
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            >
            </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} https://www.youtube.com/embed/XgNrL4Kf7yU?rel=0&wmode=transparent {% endcomment %}