{% extends 'base.html' %}

{% block content %}
  <h1>detail</h1>
  <p>{{ movie.title }}</p>
  <p>{{ movie.overview }}</p>

  
  {% if rank|length %}
    <p>업데이트</p>
  {% else %}
    <form action="{% url 'movies:rank_create' movie.pk %}" method="POST">
      {% csrf_token %}
      {{ rank_form }}
      <input type="submit">
    </form>
  {% endif %}


  {% if reviews|length %}
    <p><b>{{ reviews|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  {% for review in reviews %}
    <div>
      {{ review.user }} - {{ review.content }}
      <a href="{% url 'movies:update_review' movie.pk review.pk %}">수정</a>
      <form action="{% url 'movies:delete_review' movie.pk review.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
      </form>
    </div>
  {% empty %}
    <p><b>리뷰가 없어요..</b></p>
  {% endfor %}

  <form action="" method="POST">
    {% csrf_token %}
    {{ review_form }}
    <input type="submit">
  </form>
{% endblock  %}