{% extends 'base.html' %}
{% load humanize %}
{% block content %}
  <br>

  <div class="row">
    <div class="col-4">
      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}"
        class="img-thumbnail" alt="..."
      >
      {% comment %} <a
        href="https://www.youtube.com/embed/IrQt_aSddJY"
      >
      Trailer
      </a> {% endcomment %}
      {% include 'movies/_modal.html' %}
    </div>

    <div class="col-8">
      <h1><b>{{ movie.title }}</b></h1>
      <p class="text-muted">
        {{ movie.release_date|date:"Y" }} ・ 
        {% for genre in genres %}
          {{ genre.name }}
        {% endfor %} ・ 
        {{ movie.original_language }}
      </p>
      <p>{{ movie.popularity }}</p>

      {% comment %} <p>{{ rank.user }} - {{ rank.rating }}</p> {% endcomment %}



      {% comment %} 
        Rank
      {% endcomment %}


      {% if rank %}
        <p>update</p>
        <div class="rateit" data-rateit-value="{{ rank.rating }}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
        <p></p>
        <form class="d-inline" action="{% url 'movies:rank_update' movie.pk rank.pk %}" method="POST">
          {% csrf_token %}
          {{ rank_form }}
          <input type="submit">
        </form>
        <form class="d-inline" action="{% url 'movies:rank_delete' movie.pk rank.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="평점삭제" class="d-inline">
        </form>


      {% else %}
        <p>create</p>
        <form action="{% url 'movies:create_rank' movie.pk %}" method="POST">
          {% csrf_token %}
          {{ rank_form }}
          <input type="submit">
        </form>
      {% endif %}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-8">
      <h5><b>기본 정보</b></h5>
      <p>{{ movie.original_title }}</p>
      <p>
        {{ movie.release_date }} ・ 
        {% for genre in genres %}
          {{ genre.name }}
        {% endfor %} ・ 
        {{ movie.original_language }}
      </p>
      <p>{{ movie.runtime }}분</p>
      <p>{{ movie.overview }}</p>

      <hr>
      <h5><b>리뷰</b></h5>
      {% if reviews|length %}
        <p class="text-muted"><b>{{ reviews|length }}개의 댓글이 있습니다.</b></p>
      {% endif %}
      <ul class="list-group list-group-flush">
        {% for review in reviews %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-1">
                <img src="{{ review.user.profile_img.url }}"
                  class="border rounded-circle"
                  alt=""
                  height="20"
                >
              </div>
              
              <div class="col">
                <b>{{ review.user }}</b>&nbsp;
                {{ rank.rating }}&nbsp;
                <small class="text-muted">{{ review.created_at|naturaltime }}</small>
                <p>{{ review.content }}</p>
              </div>
            </div>

            <div class="text-end">
              <small class="text-muted">마지막 수정:{{ review.updated_at|naturaltime }}</small>
              <a href="{% url 'movies:update_review' movie.pk review.pk %}">수정</a>
              <a href="#">삭제</a>
              <form action="{% url 'movies:delete_review' movie.pk review.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="삭제">
              </form>
            </div>
          </li>
        {% empty %}
          <p><b>아직 리뷰가 없어요..</b></p>
        {% endfor %}
      </ul>

      <form action="" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit">
      </form>
    </div>
  </div>
{% endblock  %}


{% block script %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>
  {% comment %} <script src="js/bootstrap.min.js"></script> {% endcomment %}
  <script>
      $('#link').click(function () {
          const video = document.querySelector('[data-video-url]');
          const videoUrl = video.getAttribute('data-video-url')
          const videoId = videoUrl.slice(32 ,videoUrl.length)
          let src = `https://www.youtube.com/embed/${videoId}`
          //let src = 'https://www.youtube.com/embed/IrQt_aSddJY'
          $('#myModal').modal('show');
          $('#myModal iframe').attr('src', src);
      })

      $('#myModal').on('hidden.bs.modal', function () {
        $('#myModal iframe').removeAttr('src');
      });

      $('#myModal button').click(function () {
        $('#myModal iframe').removeAttr('src');
      });

  </script>
{% endblock script %}