{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <br>
  {% if q %}
  <h3 class="text-center"><b>"{{ q }}" 검색 결과</b></h3>  
  <br>
  {% else %}
  {% comment %} <h3 class="text-center"><b>영화 목록</b></h3> {% endcomment %}
  <br>
  {% endif %}
  <br> 

  <div class="row justify-content-evenly g-4">
    {% for movie in movies %}
      {% include 'movies/_card.html' %}
    {% endfor %}
  </div>

  <br>

  <div class="d-flex justify-content-center">
    {% bootstrap_pagination movies %}
  </div>
  <br>
<style>
  .card:hover .card-img{
    opacity: 0.3;
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    -webkit-transition:all .3s ease; 
    -moz-transition:all .3s ease; 
    -o-transition:all .3s ease;
    -ms-transition:all .3s ease; 
    width: 100%;
    height: 22vw;
  }

  .page-item.disabled .page-link,
  .page-item.disabled .page-link:hover {
    color: #999999 !important;
  }
  .page-item.active .page-link {
  color: #fff !important;
  background: #000 !important;
  border-color: #000
  }
  .page-item .page-link {
  color: #000 !important;
  background: #fff !important;
  border-color: #ECECEC
  }
  .pagination>li>a {
    border-radius: 50% !important;margin: 0 5px;
  }
</style>
{% endblock  %}