{% extends 'base.html' %}

{% block content %}
  <h2>WorldCup</h2>
  <h4>1 / 16</h4>
  <h4>내가 선택한 영화: </h4>
  <hr>
  <div class="row">
    {% for movie in movies %}
      <div class="movie-images col-6">
        <img class="img" id="img-{{ movie.pk }}" data-movie-pk="{{ movie.pk }}" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}"alt="">
      </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block script %}
  <script>
  let pageNum = 2
  let seletedMoviePks = []

  const parentImages = document.querySelectorAll('.movie-images')
  parentImages.forEach((image) => {
    image.addEventListener('click', (event) => {
      seletedMoviePks.push(event.target.dataset.moviePk)
      // console.log(seletedMoviePks)
      axios({
        method: 'get',
        url: `/movies/worldcup`,
        headers: {'x-requested-with': 'XMLHttpRequest'},
        params: {
          page: `${pageNum}`,
          seletedMoviePks: seletedMoviePks[seletedMoviePks.length - 1],
        }
      })
        .then((res) => {
          const movies = res.data
          moviePk = movies[0].pk
          moviePosterPath = movies[0].fields.poster_path

          const images = document.querySelectorAll('.img')

          images.forEach(function(image, index) {
            preMoviePk = image.getAttribute('data-movie-pk')

            moviePk = movies[index].pk
            moviePosterPath = movies[index].fields.poster_path
            const image1 = document.querySelector(`#img-${preMoviePk}`)
            const newImg = document.createElement('img')
            newImg.classList.add('img')
            newImg.src = `https://image.tmdb.org/t/p/original/${moviePosterPath}`
            newImg.id = `img-${moviePk}`
            newImg.dataset.moviePk = `${moviePk}`

            const parent = image1.parentNode
            parent.replaceChild(newImg, image1)
          })

          pageNum += 1
        })
    })
  })

  </script>
{% endblock script %}


