{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <a href="{% url 'community:index' %}">게시판으로</a>
  <br>
  <br>
  <h3><b>{{ article.title }}</b></h3>
  <p><small class="text-muted">{{article.user }} | {{ article.created_at }} | 
    {% if user == article.user %}
      <a href="{% url 'community:update' article.pk %}">수정</a> |
      <a href="#" onclick="document.getElementById('deleteform').submit()">삭제</a>
      <form id="deleteform" action="{% url 'community:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden">
      </form>
    {% endif %}
  </small></p>

  <hr>

  <p>{{ article.content }}</p>
  
  <br>

  <p class="text-end"><small class="text-muted">마지막 수정 : {{ article.updated_at }}</small></p>
  <p class="my-2"><b>전체 댓글 <span id="comments-count">{{ comments|length }}</span>개</b></p>
  {% comment %} <hr size="5px"> {% endcomment %}
  <ul class="list-group">
    {% for comment in comments %}
      <li class="comment-{{ article.pk }}-{{ comment.pk }} list-group-item">
        <div class="row">
          <div class="col-2">
            <img src="{{ comment.user.profile_img.url }}"
              class="border rounded-circle"
              alt=""
              height="20"
            >
            <b>{{ comment.user }}</b>
          </div>
          <div class="col">
            {{ comment.content }}
          </div>
          <div class="col-3 text-end">
            <small class="text-muted">{{ comment.created_at|naturaltime }}&nbsp;
              {% if user == comment.user %}
                <i data-article-pk="{{ article.pk }}" data-comment-pk="{{ comment.pk }}" class="far fa-times-circle"></i>
              {% endif %}&nbsp;
            </small>
          </div>
        </div>
      </li>
    {% empty %}
      <p>아직 댓글이 없어요..</p>
    {% endfor %}
  </ul>

  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:comments_create' article.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
{% endblock content %}


{% block script %}
<script>
  const deletes = document.querySelectorAll('.fa-times-circle')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  deletes.forEach((adelete) => {
    adelete.addEventListener('click', (event) => {
      const articlePk = event.target.dataset.articlePk
      const commentPk = event.target.dataset.commentPk
      axios.post(`/community/${articlePk}/comments/${commentPk}/delete/`, {}, {
        headers: { 'X-CSRFToken': csrftoken }
      })
        .then((res) => {
          const singleComment = document.querySelector(`.comment-${articlePk}-${commentPk}`)
          singleComment.remove()

          const commentsCount = document.querySelector('#comments-count')
          commentsCount.innerText = commentsCount.innerText - 1
        })
    })
  })
</script>
{% endblock script %}