{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <a href="{% url 'community:index' %}">게시판으로</a>
  <br>
  <br>
  <h3><b>{{ article.title }}</b></h3>
  <p><small class="text-muted">{{article.user }} | {{ article.created_at }} | 
    {% if user == article.user %}
      <a href="{% url 'community:update' article.pk %}">수정</a> |
      <a href="#" onclick="document.getElementById('deleteform').submit()">삭제</a>
      <form id="deleteform" action="{% url 'community:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <input type="hidden">
      </form>
    {% endif %}
  </small></p>

  <hr>

  <p>{{ article.content }}</p>
  
  <br>

  <p class="text-end"><small class="text-muted">마지막 수정 : {{ article.updated_at }}</small></p>
  {% comment %} <h4>댓글 목록</h4> {% endcomment %}
  <p><b>전체 댓글 {{ comments|length }}개</b></p>
  <hr size="5px">
  {% comment %} {% if comments %}
  {% endif %} {% endcomment %}
  <ul>
    {% for comment in comments %}
      <li>
        <div class="row">
          <div class="col-2">
            {{ comment.user }}
          </div>
          <div class="col">
            {{ comment.content }}
          </div>
          <div class="col-2 text-end">
            <small class="text-muted">{{ comment.created_at|naturaltime }}</small>
          </div>
        </div>
        {% if user == comment.user %}
          <form action="{% url 'community:comments_delete' article.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <p>아직 댓글이 없어요..</p>
    {% endfor %}
  </ul>

  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'community:comments_create' article.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
{% endblock content %}
