{% extends 'base.html' %}

{% block content %}
  <br>
  <h3 class="text-center"><b>🎥영화 게시판🎬</b></h3>
  <br>

  <div class="text-end">
  {% if request.user.is_authenticated %}
    <a class="btn btn-dark rounded-pill col-3"
      href="{% url 'community:create' %}">
      게시물 작성</a>
  {% else %}
    <p>[새 글을 작성하려면 로그인하세요.]</p>
    <a class="btn btn-dark col-3"
      href="{% url 'accounts:login' %}">
      로그인 바로가기</a>
  {% endif %}
  </div>

  <br>
  
  <table class="table table-hover">
    <thead>
      <tr class="text-center">
        <th style="font-weight: bold; font-size: 16px;">번호</th>
        <th style="font-weight: bold; font-size: 16px;">제목</th>
        <th style="font-weight: bold; font-size: 16px;">작성자</th>
        <th style="font-weight: bold; font-size: 16px;">등록일</th>
        {% comment %} <th style="font-weight: bold; font-size: 16px;">조회수</th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr class="text-center" style="font-weight: bold; cursor:pointer;"
        onclick="location.href='/community/{{ article.pk }}/'">
        <td>{{ article.pk }}</td>
        <td class="text-left" style="width:50%">
          {{ article.title|truncatechars:30 }}
        </td>
        <td>{{ article.user }}</td>
        <td>{{ article.created_at|date:'Y-n-j H:i' }}</td>
        {% comment %} <td>{{ article.hits }}</td> {% endcomment %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock  %}

