{% load humanize %}

<!-- Modal -->
<div class="modal fade" id="modalComment" tabindex="-1" aria-labelledby="modalCommentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCommentLabel"><b>댓글 단 글
          <span>({{ cmt_articles|length }})</span>
        </b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <ul class="list-group list-group-flush">
          {% for article in cmt_articles %}
            <div>
            {% comment %} <a href="#" class="text-decoration-none text-body"> {% endcomment %}
              <img src="{{ article.user.profile_img.url }}"
                      class="border rounded-circle"
                      alt=""
                      height="20"
              >
              <b>{{ article.user }}</b>&nbsp;&nbsp;
              <small class="text-muted">{{ article.created_at|naturaltime }}</small>
              <p>{{ article.title }}</p>
              <p>{{ article.content|safe }}</p>
            {% comment %} </a> {% endcomment %}
            </div>
            <hr>
          {% empty %}
            <p><b>작성한 글이 없어요..</b></p>
          {% endfor %}
      </div>

    </div>
  </div>
</div>