<!-- Modal -->
<div class="modal fade" id="modalMovie" tabindex="-1" aria-labelledby="modalMovieLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalMovieLabel"><b>내가 본 영화
          <span>({{ person.rank_set.all.count }})</span>
        </b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        {% for rank in person.rank_set.all %}
          <a href="{% url 'movies:detail' rank.movie.pk %}" class="text-decoration-none text-reset">
            <p>{{ rank.movie.title }}</p>
          </a>
        {% empty %}
          <p><b>아직 본 영화가 없어요..</b></p>          
        {% endfor %}
      </div>

    </div>
  </div>
</div>