{% extends 'base.html' %}

{% block content %}
  <br>
  {% comment %} 
  출력 jpg를 url로 가져가게끔 img 객체 안의 url에 .url을 붙임
  {% endcomment %}
  <img src="{{ person.profile_img.url }}" alt=""
    class="border rounded-circle mx-auto d-block"
    height="200"
  >
  <br>
  <div class="row">
    <br>
    <h2 class="text-center"><b>{{ person.username }}</b></h2>
    <p class="text-center text-muted">
    총 {{ runtime_total }} 분
    </p>
  </div>
  
  <hr>
  
  <div class="row">
    <div class="col-4">
      <div class="card"><a href="#" role="button"
        class="text-decoration-none text-body"
        data-bs-toggle="modal" data-bs-target="#modalMovie"
      >
        <div class="card-body">
          <p class="card-title">내가 본 영화</p>
          <h4 class="card-text text-end"><b>{{ person.rank_set.all|length }}&nbsp;&nbsp;&nbsp;</b>
        </div>
      </a></div>
    </div>
    {% include 'accounts/_modal_movie.html' %}

    <div class="col-4">
      <div class="card"><a href="#" role="button"
        class="text-decoration-none text-body"
        data-bs-toggle="modal" data-bs-target="#modalArticle"
      >
        <div class="card-body">
          <p class="card-title">내가 쓴 글</p>
          <h4 class="card-text text-end"><b>{{ person.article_set.all|length }}&nbsp;&nbsp;&nbsp;</b></h4>
        </div>
      </a></div>
    </div>
    {% include 'accounts/_modal_article.html' %}


    <div class="col-4">
      <div class="card"><a href="#" role="button"
        class="text-decoration-none text-body"
        data-bs-toggle="modal" data-bs-target="#modalComment"
      >
        <div class="card-body">
          <p class="card-title">댓글 단 글</p>
          <h4 class="card-text text-end"><b>{{ cmt_articles|length }}&nbsp;&nbsp;&nbsp;</b></h4>
        </div>
      </a></div>
    </div>
  </div>
  {% include 'accounts/_modal_comment.html' %}


  <hr>
  <br>
  
  <div class="card w-100">
    <div class="card-body">
      <p class="card-title">추천받은 영화</p>
      <div class="row row-cols-sm-2 row-cols-md-4 row-cols-lg-4 g-4">
        {% for movie in recommended_movies %}
          {% include 'movies/_card.html' %}
        {% empty %}
          <p><b>추천받은 영화가 없어요..</b></p>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <br>
  
  <div class="card w-100">
    <div class="card-body">
      <p class="card-title">워드 클라우드</p>
      <h4 class="card-text text-center">(공 란)</h4>
    </div>
  </div>

  {% comment %} <div class="row">
    <h3>{{ person.username }}가 본 영화</h3>
    {% include 'accounts/_carousel.html' %}
    <div class="row row-cols-5">
      {% for rank in person.rank_set.all %}
        {{ rank.movie.title }}
        <img src="https://image.tmdb.org/t/p/original/{{ rank.movie.poster_path }}" width="100" height="130" alt="">
      {% endfor %}
    </div>
    <hr>

    <h3>{{ person.username }}가 작성한 게시글</h3>
    {% for article in person.article_set.all %}
      <div>{{ article.title }}</div>
    {% endfor %}

    <hr>

    <h3>{{ person.username }}가 작성한 댓글</h3>
    {% for comment in person.comment_set.all %}
      <div>{{ comment.content }}</div>
    {% endfor %}

  </div> {% endcomment %}

  <hr>
  
  <div class="text-center">
    <a class="btn btn-secondary rounded-pill" href="{% url 'community:index' %}">게시판으로</a>
  </div>
  
{% endblock content %}