{% extends 'base.html' %}

{% block content %}
  <br>
  {% comment %} 
  img 객체 안의 url을 출력 jpg를 url로 가져가게끔 .url을 붙임
  {% endcomment %}
  <img src="{{ person.profile_img.url }}" alt=""
    class="border rounded-circle mx-auto d-block"
    height="200"
  >
  <br>
  <h2 class="text-center"><b>{{ person.username }}</b></h2>
  <hr>

  <h3>{{ person.username }}가 본 영화</h3>
  {% comment %} {% include 'accounts/_carousel.html' %} {% endcomment %}
  {% comment %} <div class="row row-cols-5">
    {% for rank in person.rank_set.all %}
      {{ rank.movie.title }}
      <img src="https://image.tmdb.org/t/p/original/{{ rank.movie.poster_path }}" width="100" height="130" alt="">
    {% endfor %}
  </div> {% endcomment %}
  <hr>

  <h3>{{ person.username }}가 작성한 게시글</h3>
  {% for article in person.article_set.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <hr>

  <h3>{{ person.username }}가 작성한 댓글</h3>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}

  <hr>

  <a href="{% url 'community:index' %}">[back]</a>
  
{% endblock content %}